.get-started{
  background-image: url('https://lh3.googleusercontent.com/DrY1Wm52hNIcP07rfIJT5yCtpm6T1D1KBHzrPz6s8iKRFV6KwAyygVx7yH3MLnhJelR76FO7NF_5tMAWje_wdE8bLOAwU_yBOxRqBKw1T9HvhsjXFyI=w2400');
  background-size: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}
