.example-container {
    width: auto;
    height: 87vh;
    margin: 10px;
    border: none;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;
  }
.mat-drawer{
    border-radius: 0;
    width: 20%;
}
.mat-drawer-content{
    padding: 30px;
}